<div>
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul>
      <% @users.each do |user| %>
        <li>
          <%= user.name %> <%= link_to t('views.common.show'), user %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= link_to t('views.common.back'), user_path(@user) %>
